In [ ]:
import pandas as pd 
import os

'/Users/gregorydevincentis/VSCodeProjects/jaffle-shop-DV/notebooks'

In [2]:
os.getcwd()
os.chdir(r'..')

In [31]:

df = pd.read_csv(r'jaffle_shop_dv/jaffle-data/raw_customers.csv')
df.rename({
    'id':'customer_id'
    }, axis=1, inplace=True)
df['record_source'] = 'raw_customers'
df['load_ts'] = pd.Timestamp.now()
df.head()
df.to_csv('jaffle_shop_dv/seeds/raw_customers_dv.csv', index=False)

df

,customer_id,name,record_source,load_ts
0,50a2d1c4-d788-4498-a6f7-dd75d4db588f,Stephanie Love,raw_customers,2025-02-08 23:22:56.291089
1,438005c2-dd1d-48aa-8bfd-7fb06851b5f8,Kristi Keller,raw_customers,2025-02-08 23:22:56.291089
2,5261268c-aa94-438a-921a-05efc0d414ac,Allison Oliver,raw_customers,2025-02-08 23:22:56.291089
3,f8486fce-bc07-4a4f-a6e9-ed6a06ba996c,Nancy Austin,raw_customers,2025-02-08 23:22:56.291089
4,341ed9b2-1760-4720-a1b1-42681d273c63,Christy Rios,raw_customers,2025-02-08 23:22:56.291089
...,...,...,...,...
930,8f054a96-7920-42dc-b286-f6980ea8dbeb,Don Valencia,raw_customers,2025-02-08 23:22:56.291089
931,e4d6980c-4b68-4255-97a5-2540f5ef35bc,Kimberly Schneider,raw_customers,2025-02-08 23:22:56.291089
932,9f72b282-1f70-450b-988f-9b3029fa121e,Christina Hall,raw_customers,2025-02-08 23:22:56.291089
933,4c11a926-7100-4d06-8910-5b0d5f3d7e9a,Jaime Hester,raw_customers,2025-02-08 23:22:56.291089
934,099dd9b8-0a76-482f-92e1-f754d25d5aee,Krista Young,raw_customers,2025-02-08 23:22:56.291089

In [ ]:
df = pd.read_csv(r'jaffle_shop_dv/jaffle-data/raw_orders.csv')
df.rename({
    'id':'order_id',
    'customer': 'customer_id'
    }, axis=1, inplace=True)
df['record_source'] = 'raw_orders'
df['load_ts'] = pd.Timestamp.now()
df.head()
df.to_csv('jaffle_shop_dv/seeds/raw_orders_dv.csv', index=False)

df

,order_id,customer_id,ordered_at,store_id,subtotal,tax_paid,order_total,record_source,load_ts
0,9bed808a-5074-4dfb-b1eb-388e2e60a6da,50a2d1c4-d788-4498-a6f7-dd75d4db588f,2016-09-01T15:01:00,4b6c2304-2b9e-41e4-942a-cf11a1819378,700,42,742,raw_orders,2025-02-08 23:16:52.158525
1,b83630c1-0fdc-4cd2-818d-0b6d4384ce86,438005c2-dd1d-48aa-8bfd-7fb06851b5f8,2016-09-01T10:39:00,4b6c2304-2b9e-41e4-942a-cf11a1819378,700,42,742,raw_orders,2025-02-08 23:16:52.158525
2,3b4a03db-7b23-4673-a88a-7f51b01ca497,5261268c-aa94-438a-921a-05efc0d414ac,2016-09-01T07:46:00,4b6c2304-2b9e-41e4-942a-cf11a1819378,700,42,742,raw_orders,2025-02-08 23:16:52.158525
3,3368b213-6687-4338-bf73-b927ae72340f,f8486fce-bc07-4a4f-a6e9-ed6a06ba996c,2016-09-01T14:39:00,4b6c2304-2b9e-41e4-942a-cf11a1819378,600,36,636,raw_orders,2025-02-08 23:16:52.158525
4,739bf2f3-8d20-4159-9124-5451f1e4b136,341ed9b2-1760-4720-a1b1-42681d273c63,2016-09-01T10:57:00,4b6c2304-2b9e-41e4-942a-cf11a1819378,1100,65,1165,raw_orders,2025-02-08 23:16:52.158525
...,...,...,...,...,...,...,...,...,...
61943,d655d186-275f-4411-9a23-2f6d68f97578,2d4e6ed6-f081-4049-b92a-7792dbe97b89,2017-08-31T11:31:00,40e6ddd6-b8f6-4e17-8bd6-5e53966809d2,600,24,624,raw_orders,2025-02-08 23:16:52.158525
61944,f6d1a004-6d02-4846-974c-aa48891cf1e1,3d6f18db-a49c-4563-9445-68d4e02bd664,2017-08-31T08:14:00,40e6ddd6-b8f6-4e17-8bd6-5e53966809d2,600,24,624,raw_orders,2025-02-08 23:16:52.158525
61945,505da4ed-218d-47ce-bb62-caadac5da974,e8014144-a99b-4ca2-8418-56404aee2f08,2017-08-31T16:07:00,40e6ddd6-b8f6-4e17-8bd6-5e53966809d2,600,24,624,raw_orders,2025-02-08 23:16:52.158525
61946,1b41551c-b925-4cf5-820f-b014a23015a0,8f054a96-7920-42dc-b286-f6980ea8dbeb,2017-08-31T17:41:00,40e6ddd6-b8f6-4e17-8bd6-5e53966809d2,1200,48,1248,raw_orders,2025-02-08 23:16:52.158525
61947,2cf79940-d9ca-4d16-a1f2-d0d36ac929b1,9f72b282-1f70-450b-988f-9b3029fa121e,2017-08-31T08:07:00,40e6ddd6-b8f6-4e17-8bd6-5e53966809d2,600,24,624,raw_orders,2025-02-08 23:16:52.158525

In [19]:
df = pd.read_csv(r'jaffle_shop_dv/jaffle-data/raw_items.csv')
df.rename({
    'id':'order_item_id',
    'customer': 'customer_id'
    }, axis=1, inplace=True)
df['record_source'] = 'raw_items'
df['load_ts'] = pd.Timestamp.now()
df.head()
df.to_csv('jaffle_shop_dv/seeds/raw_items_dv.csv', index=False)

df

,order_item_id,order_id,sku,record_source,load_ts
0,2e3cb58a-c73c-4216-9d70-66e91bb2ca32,9bed808a-5074-4dfb-b1eb-388e2e60a6da,BEV-004,raw_items,2025-02-08 23:16:46.435887
1,0d005cee-30f1-4426-a786-833fcc77ae34,b83630c1-0fdc-4cd2-818d-0b6d4384ce86,BEV-004,raw_items,2025-02-08 23:16:46.435887
2,0b8661ef-9337-44cd-a12d-f2aa9badda01,3b4a03db-7b23-4673-a88a-7f51b01ca497,BEV-004,raw_items,2025-02-08 23:16:46.435887
3,0e6118fd-4563-4feb-9cee-9a40135db550,3368b213-6687-4338-bf73-b927ae72340f,BEV-003,raw_items,2025-02-08 23:16:46.435887
4,b7b8e822-c78f-482b-8a18-8a86ad6d281e,739bf2f3-8d20-4159-9124-5451f1e4b136,BEV-005,raw_items,2025-02-08 23:16:46.435887
...,...,...,...,...,...
90895,428bdcd8-67ef-4642-9d45-f4119fb66989,f6d1a004-6d02-4846-974c-aa48891cf1e1,BEV-001,raw_items,2025-02-08 23:16:46.435887
90896,79740e0f-7646-4421-8b65-33b17b8affa4,505da4ed-218d-47ce-bb62-caadac5da974,BEV-003,raw_items,2025-02-08 23:16:46.435887
90897,1f781607-bf2d-4f37-a59c-526ca94d2dc5,1b41551c-b925-4cf5-820f-b014a23015a0,BEV-003,raw_items,2025-02-08 23:16:46.435887
90898,c2f02929-7137-4488-b24a-819d2ef8650b,1b41551c-b925-4cf5-820f-b014a23015a0,BEV-001,raw_items,2025-02-08 23:16:46.435887
90899,1f9ab633-4a62-4007-a6ab-968cbb82d500,2cf79940-d9ca-4d16-a1f2-d0d36ac929b1,BEV-003,raw_items,2025-02-08 23:16:46.435887

In [24]:
df = pd.read_csv(r'jaffle_shop_dv/jaffle-data/raw_products.csv')
df.rename({
    'id':'id',
    'customer': 'customer_id'
    }, axis=1, inplace=True)
df['record_source'] = 'raw_products'
df['load_ts'] = pd.Timestamp.now()
df.head()
df.to_csv('jaffle_shop_dv/seeds/raw_products_dv.csv', index=False)

df

,sku,name,type,price,description,record_source,load_ts
0,JAF-001,nutellaphone who dis?,jaffle,1100,nutella and banana jaffle,raw_products,2025-02-08 23:20:38.651424
1,JAF-002,doctor stew,jaffle,1100,house-made beef stew jaffle,raw_products,2025-02-08 23:20:38.651424
2,JAF-003,the krautback,jaffle,1200,lamb and pork bratwurst with house-pickled cab...,raw_products,2025-02-08 23:20:38.651424
3,JAF-004,flame impala,jaffle,1400,pulled pork and pineapple al pastor marinated ...,raw_products,2025-02-08 23:20:38.651424
4,JAF-005,mel-bun,jaffle,1200,"melon and minced beef bao, in a jaffle, savory...",raw_products,2025-02-08 23:20:38.651424
5,BEV-001,tangaroo,beverage,600,mango and tangerine smoothie,raw_products,2025-02-08 23:20:38.651424
6,BEV-002,chai and mighty,beverage,500,oatmilk chai latte with protein boost,raw_products,2025-02-08 23:20:38.651424
7,BEV-003,vanilla ice,beverage,600,iced coffee with house-made french vanilla syrup,raw_products,2025-02-08 23:20:38.651424
8,BEV-004,for richer or pourover,beverage,700,daily selection of single estate beans for a d...,raw_products,2025-02-08 23:20:38.651424
9,BEV-005,adele-ade,beverage,400,"a kiwi and lime agua fresca, hello from the ot...",raw_products,2025-02-08 23:20:38.651424

In [37]:
df = pd.read_csv(r'jaffle_shop_dv/jaffle-data/raw_stores.csv')
df.rename({
    'id':'store_id',
    'customer': 'customer_id'
    }, axis=1, inplace=True)
df['record_source'] = 'raw_stores'
df['load_ts'] = pd.Timestamp.now()
df.head()
df.to_csv('jaffle_shop_dv/seeds/raw_stores_dv.csv', index=False)

df

,store_id,name,opened_at,tax_rate,record_source,load_ts
0,4b6c2304-2b9e-41e4-942a-cf11a1819378,Philadelphia,2016-09-01T00:00:00,0.0600,raw_stores,2025-02-08 23:24:27.452772
1,40e6ddd6-b8f6-4e17-8bd6-5e53966809d2,Brooklyn,2017-03-12T00:00:00,0.0400,raw_stores,2025-02-08 23:24:27.452772
2,1ce7ac35-d296-4e34-89c4-bf92aa2fe751,Chicago,2018-04-29T00:00:00,0.0625,raw_stores,2025-02-08 23:24:27.452772
3,39b38c24-679d-4217-b676-a4a0e64c8477,San Francisco,2018-05-09T00:00:00,0.0750,raw_stores,2025-02-08 23:24:27.452772
4,09fdfbaf-3ec6-408d-93f4-1efc535d9938,New Orleans,2019-03-10T00:00:00,0.0400,raw_stores,2025-02-08 23:24:27.452772
5,da506490-1e2f-4fe8-8426-f1eee65af28a,Los Angeles,2019-09-13T00:00:00,0.0800,raw_stores,2025-02-08 23:24:27.452772

In [36]:
df = pd.read_csv(r'jaffle_shop_dv/jaffle-data/raw_supplies.csv')
df.rename({
    'id':'supply_id',
    'customer': 'customer_id'
    }, axis=1, inplace=True)
df['record_source'] = 'raw_supplies'
df['load_ts'] = pd.Timestamp.now()
df.head()
df.to_csv('jaffle_shop_dv/seeds/raw_supplies_dv.csv', index=False)

df

,supply_id,name,cost,perishable,sku,record_source,load_ts
0,SUP-001,compostable cutlery - knife,7,False,JAF-001,raw_supplies,2025-02-08 23:24:23.430502
1,SUP-002,cutlery - fork,7,False,JAF-001,raw_supplies,2025-02-08 23:24:23.430502
2,SUP-003,serving boat,11,False,JAF-001,raw_supplies,2025-02-08 23:24:23.430502
3,SUP-004,napkin,4,False,JAF-001,raw_supplies,2025-02-08 23:24:23.430502
4,SUP-009,bread,33,True,JAF-001,raw_supplies,2025-02-08 23:24:23.430502
...,...,...,...,...,...,...,...
60,SUP-005,16oz compostable clear cup,13,False,BEV-005,raw_supplies,2025-02-08 23:24:23.430502
61,SUP-006,16oz compostable clear lid,4,False,BEV-005,raw_supplies,2025-02-08 23:24:23.430502
62,SUP-007,biodegradable straw,13,False,BEV-005,raw_supplies,2025-02-08 23:24:23.430502
63,SUP-028,kiwi,20,True,BEV-005,raw_supplies,2025-02-08 23:24:23.430502
64,SUP-029,lime,13,True,BEV-005,raw_supplies,2025-02-08 23:24:23.430502